:root {
    --primary: #dddddd;
    --shadow: #808080;
    --light: #c0c0c0;
    --dark: #000000;
    --darkb: #15232d;
    --midb: #193549;
    --hoveb: #304a5c
}

html {
    margin: 1rem;
}

/*HOME NAV */
.headwrapper{
    display: flex;
}
.main-head {
    font-size: 5rem;
}
#main-title{
    flex: 2;
    font-size: 3rem;
}
.mainbtn {
    border: none;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    color: var(--dark);
    background-color: var(--primary);
    padding: .5rem;
    justify-items: center;
    border-radius: 25px;
}

.mainbtn:hover {
    text-decoration: none;
    background-color: var(--dark);
    color: var(--light)
}
.bodywapper{
    clear: both;
}

.grid-container {
    padding: 70px 0;
    border: 3px solid black;
    
}

.RButton {
    float: left;
    text-decoration: none;
    display: grid-inline;
    padding: 1rem;
    background-color: rgb(8, 44, 247);
    color: rgb(255, 255, 255);
}

.RButton:hover {
    background-color: rgb(14, 155, 202)
}

#table1,
#table2,
#table3,
#table4 {
    display: none;
}

/*END OF HOME NAVE*/